<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--  Using Bootstrap CSS CDN -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	 <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"> -->
 	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	 <!-- <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
	<title>ENoticeBoard-Home</title>

	    {% load static %}

  	<script src="{% static "myapp/js/HomePageValidations.js" %}"></script>
	
</head>
<body>
	<div align="center" id="contentWrapper" class="container">
		
		<div class="container">
  			<div class="jumbotron">
			    <h1>Welcome to ENotice Board</h1> 
			    <p>ENotice Board is a common platform for Hawks to post marketing flyers, Important announcements and other 
			    informative contents. Follow linkes provided below to see posts.</p> 
  			</div>

  		<!-- Start Slides-->

  		<button type="button" class="btn btn-primary btn-lg btn-block" id="officialbtn">Official Posts</button>

  		<button type="button" class="btn btn-default btn-lg btn-block" id="eventsbtn">Events Posts</button>

  		<button type="button" class="btn btn-primary btn-lg btn-block" id="buybtn">Buy and Sell Posts</button>

  		<button type="button" class="btn btn-default btn-lg btn-block" id="sportsbtn">Sports Posts</button>

  		<!-- End Slides -->



		</div>
	</div>
	<script type="text/javascript">
		
	
	</script>
</body>
</html>